<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.buukle.provider.security.dao.BuukleSignLogsMapper" >
  <resultMap id="BaseResultMap" type="top.buukle.provider.security.entity.BuukleSignLogs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="buukle_sign_id" property="buukleSignId" jdbcType="INTEGER" />
    <result column="operation_name" property="operationName" jdbcType="VARCHAR" />
    <result column="operation_code" property="operationCode" jdbcType="VARCHAR" />
    <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="log_type" property="logType" jdbcType="VARCHAR" />
    <result column="log_msg" property="logMsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buukle_sign_id, operation_name, operation_code, operation_type, operation_time, 
    log_type, log_msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from buukle_sign_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buukle_sign_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.buukle.provider.security.entity.BuukleSignLogs" >
    insert into buukle_sign_logs (id, buukle_sign_id, operation_name, 
      operation_code, operation_type, operation_time, 
      log_type, log_msg)
    values (#{id,jdbcType=INTEGER}, #{buukleSignId,jdbcType=INTEGER}, #{operationName,jdbcType=VARCHAR}, 
      #{operationCode,jdbcType=VARCHAR}, #{operationType,jdbcType=VARCHAR}, #{operationTime,jdbcType=TIMESTAMP}, 
      #{logType,jdbcType=VARCHAR}, #{logMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.buukle.provider.security.entity.BuukleSignLogs" >
    insert into buukle_sign_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buukleSignId != null" >
        buukle_sign_id,
      </if>
      <if test="operationName != null" >
        operation_name,
      </if>
      <if test="operationCode != null" >
        operation_code,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="logType != null" >
        log_type,
      </if>
      <if test="logMsg != null" >
        log_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buukleSignId != null" >
        #{buukleSignId,jdbcType=INTEGER},
      </if>
      <if test="operationName != null" >
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationCode != null" >
        #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logType != null" >
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logMsg != null" >
        #{logMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.buukle.provider.security.entity.BuukleSignLogs" >
    update buukle_sign_logs
    <set >
      <if test="buukleSignId != null" >
        buukle_sign_id = #{buukleSignId,jdbcType=INTEGER},
      </if>
      <if test="operationName != null" >
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationCode != null" >
        operation_code = #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logType != null" >
        log_type = #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logMsg != null" >
        log_msg = #{logMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.buukle.provider.security.entity.BuukleSignLogs" >
    update buukle_sign_logs
    set buukle_sign_id = #{buukleSignId,jdbcType=INTEGER},
      operation_name = #{operationName,jdbcType=VARCHAR},
      operation_code = #{operationCode,jdbcType=VARCHAR},
      operation_type = #{operationType,jdbcType=VARCHAR},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      log_type = #{logType,jdbcType=VARCHAR},
      log_msg = #{logMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>