<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.buukle.provider.security.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="top.buukle.provider.security.entity.Module" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="module_icon" property="moduleIcon" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_code" property="creatorCode" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifier_code" property="modifierCode" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bak01" property="bak01" jdbcType="VARCHAR" />
    <result column="bak02" property="bak02" jdbcType="VARCHAR" />
    <result column="bak03" property="bak03" jdbcType="VARCHAR" />
    <result column="bak04" property="bak04" jdbcType="VARCHAR" />
    <result column="bak05" property="bak05" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, module_name, url, module_icon, description, creator, creator_code, gmt_created, 
    modifier, modifier_code, gmt_modified, status, bak01, bak02, bak03, bak04, bak05
  </sql>
  <sql id="Base_Column_Update" >
    <if test="pid != null" >
      pid = #{pid,jdbcType=INTEGER},
    </if>
    <if test="moduleName != null" >
      module_name = #{moduleName,jdbcType=VARCHAR},
    </if>
    <if test="url != null" >
      url = #{url,jdbcType=VARCHAR},
    </if>
    <if test="moduleIcon != null" >
      module_icon = #{moduleIcon,jdbcType=VARCHAR},
    </if>
    <if test="description != null" >
      description = #{description,jdbcType=VARCHAR},
    </if>
    <if test="creator != null" >
      creator = #{creator,jdbcType=VARCHAR},
    </if>
    <if test="creatorCode != null" >
      creator_code = #{creatorCode,jdbcType=VARCHAR},
    </if>
    <if test="gmtCreated != null" >
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
    </if>
    <if test="modifier != null" >
      modifier = #{modifier,jdbcType=VARCHAR},
    </if>
    <if test="modifierCode != null" >
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
    </if>
    <if test="gmtModified != null" >
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
    </if>
    <if test="status != null" >
      status = #{status,jdbcType=INTEGER},
    </if>
    <if test="bak01 != null" >
      bak01 = #{bak01,jdbcType=VARCHAR},
    </if>
    <if test="bak02 != null" >
      bak02 = #{bak02,jdbcType=VARCHAR},
    </if>
    <if test="bak03 != null" >
      bak03 = #{bak03,jdbcType=VARCHAR},
    </if>
    <if test="bak04 != null" >
      bak04 = #{bak04,jdbcType=VARCHAR},
    </if>
    <if test="bak05 != null" >
      bak05 = #{bak05,jdbcType=VARCHAR},
    </if>
    id = #{id,jdbcType=INTEGER}
  </sql>
  <sql id="Base_Column_where" >
      <if test="id != null  and id !='' " >
          and id = #{id}
      </if>
      <if test="pid != null  and pid !=''" >
          and pid = #{pid}
      </if>
      <if test="moduleName != null  and moduleName !=''" >
          and  module_name = #{moduleName}
      </if>
      <if test="url != null  and url !=''" >
          and url = #{url}
      </if>
      <if test="moduleIcon != null  and moduleIcon !=''" >
          and module_icon = #{moduleIcon}
      </if>
      <if test="description != null  and description !=''" >
          and description = #{description}
      </if>
      <if test="creator != null  and creator !=''" >
          and creator = #{creator}
      </if>
      <if test="creatorCode != null  and creatorCode !=''" >
          and creator_code = #{creatorCode}
      </if>
      <if test="gmtCreated != null  and gmtCreated !=''" >
          and gmt_created = #{gmtCreated}
      </if>
      <if test="modifier != null  and modifier !=''" >
          and modifier = #{modifier}
      </if>
      <if test="modifierCode != null  and modifierCode !=''" >
          and modifier_code = #{modifierCode}
      </if>
      <if test="gmtModified != null  and gmtModified !=''" >
          and gmt_modified = #{gmtModified}
      </if>
      <if test="status !=null " >
          and  status = #{status}
      </if>
      <if test="bak01 != null  and bak01 !=''" >
          and  bak01 = #{bak01}
      </if>
      <if test="bak02 != null  and bak02 !=''" >
          and bak02 = #{bak02}
      </if>
      <if test="bak03 != null  and bak03 !=''" >
          and  bak03 = #{bak03}
      </if>
      <if test="bak04 != null  and bak04 !=''" >
          and bak04 = #{bak04}
      </if>
      <if test="bak05 != null  and bak05 !=''" >
          and bak05 = #{bak05}
      </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from module
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from module
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.buukle.provider.security.entity.Module" >
    insert into module (id, pid, module_name, 
      url, module_icon, description, 
      creator, creator_code, gmt_created, 
      modifier, modifier_code, gmt_modified, 
      status, bak01, bak02, 
      bak03, bak04, bak05
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{moduleIcon,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorCode,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifierCode,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{bak01,jdbcType=VARCHAR}, #{bak02,jdbcType=VARCHAR}, 
      #{bak03,jdbcType=VARCHAR}, #{bak04,jdbcType=VARCHAR}, #{bak05,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.buukle.provider.security.entity.Module" >
    insert into module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="moduleIcon != null" >
        module_icon,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorCode != null" >
        creator_code,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifierCode != null" >
        modifier_code,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bak01 != null" >
        bak01,
      </if>
      <if test="bak02 != null" >
        bak02,
      </if>
      <if test="bak03 != null" >
        bak03,
      </if>
      <if test="bak04 != null" >
        bak04,
      </if>
      <if test="bak05 != null" >
        bak05,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleIcon != null" >
        #{moduleIcon,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorCode != null" >
        #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierCode != null" >
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bak01 != null" >
        #{bak01,jdbcType=VARCHAR},
      </if>
      <if test="bak02 != null" >
        #{bak02,jdbcType=VARCHAR},
      </if>
      <if test="bak03 != null" >
        #{bak03,jdbcType=VARCHAR},
      </if>
      <if test="bak04 != null" >
        #{bak04,jdbcType=VARCHAR},
      </if>
      <if test="bak05 != null" >
        #{bak05,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.buukle.provider.security.entity.Module" >
    update module
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleIcon != null" >
        module_icon = #{moduleIcon,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorCode != null" >
        creator_code = #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierCode != null" >
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="bak01 != null" >
        bak01 = #{bak01,jdbcType=VARCHAR},
      </if>
      <if test="bak02 != null" >
        bak02 = #{bak02,jdbcType=VARCHAR},
      </if>
      <if test="bak03 != null" >
        bak03 = #{bak03,jdbcType=VARCHAR},
      </if>
      <if test="bak04 != null" >
        bak04 = #{bak04,jdbcType=VARCHAR},
      </if>
      <if test="bak05 != null" >
        bak05 = #{bak05,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.buukle.provider.security.entity.Module" >
    update module
    set pid = #{pid,jdbcType=INTEGER},
      module_name = #{moduleName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      module_icon = #{moduleIcon,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_code = #{creatorCode,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      bak01 = #{bak01,jdbcType=VARCHAR},
      bak02 = #{bak02,jdbcType=VARCHAR},
      bak03 = #{bak03,jdbcType=VARCHAR},
      bak04 = #{bak04,jdbcType=VARCHAR},
      bak05 = #{bak05,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--start -->

  <select id="getGlobalModuleList" resultMap="BaseResultMap" >
    select m.* from module m where m.status = 1;
  </select>

  <select id="getUserModuleListByUserRoleList" resultMap="BaseResultMap" parameterType="java.util.List">
    select m.* from module m ,role_module rm ,role r where
    m.status = 1
    <choose>
      <when test="userRoleList != null and userRoleList.size() > 0">
        and rm.role_id in
        <foreach collection="userRoleList" item="role" separator="," open="(" close=")">
          #{role.id}
        </foreach>
      </when>
      <otherwise>
        and rm.role_id in (-1)
      </otherwise>
    </choose>
    and rm.role_id = r.id
    and r.status = 1
    and rm.module_id = m.id;
  </select>

  <select id="getUserModuleListByUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT DISTINCT
    m.*
    FROM
    module m,
    USER u,
    role r,
    user_role ur,
    role_module rm
    WHERE
    u.user_id = #{userId}
    AND m.status = 1
    AND ur.`user_id` = u.`user_id`
    AND ur.`role_id` = r.`id`
    AND rm.`role_id` = r.`id`
    AND rm.`module_id` = m.`id`;
  </select>

  <select id="getModuleList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List" /> from module where 1=1
    <include refid="Base_Column_where" />
    <if test="startTime != null  and startTime !='' " >
      and gmt_created &gt;= #{startTime}
    </if>
    <if test="endTime != null  and endTime !='' " >
      and gmt_created &lt;= #{endTime}
    </if>
  </select>

  <update id="doBanOrRelease" parameterType="java.util.Map" >
    update module
    set
    <include refid="Base_Column_Update" />
    where
    module.id = #{id}
  </update>
  <select id="fuzzySearchByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT m.module_name FROM module m WHERE m.module_name LIKE #{fuzzyText};
  </select>
</mapper>