<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/buukle/css/form.css">
    <link rel="stylesheet" href="" id="btnThemeCss">
</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="user">
    <div class="layui-tab-content">
        <!--搜索条件-->
        <form id="searchForm" class="buukle-data-form">
            <div class="buukle-search-name">
                <div class="form-span" style="float: inherit;">登录账号 : </div>
                <div class="fuzzy-div">
                    <input id="fuzzy-index-0" class="buukle-input search-condition fuzzy-input" data-fuzzyUrl="/user/fuzzySearchByName" type="text" name="name" placeholder="请输入登录名" autocomplete="off">
                    <!--建议框-->
                    <div id="fuzzy-items-index-0"class="fuzzy-item-div" data-fuzzyIndex="0"> </div>
                </div>
            </div>

            <div id="searchTime" class="buukle-search-time">
                <span class="form-span">注册时间 :</span>
                <input id="startTime" class="buukle-input search-condition" type="text" name="startTime" placeholder="起始时间" autocomplete="off">
                <span class="form-span">--</span>
                <input id="endTime" class="buukle-input search-condition" type="text" name="endTime" placeholder="结束时间" autocomplete="off">
            </div>
            <div class="buukle-select-father buukle-search-status">
                <span class="form-span">状态 :</span>
                <div>
                    <select id="searchStatus" class="buukle-select search-condition-select">
                        <option class="select-item" value="" data-status="">------------请选择-------------</option>
                        <option class="select-item" value="1" data-status="1">-------------启用---------------</option>
                        <option class="select-item" value="0" data-status="0">-------------停用---------------</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="pageLevelButton">
                <span class="layui-btn search-btn theme-btn" id="searchBtn" value="">搜索</span>
                <span class="layui-btn empty-btn layui-btn-primary" id="emptyBtn">清空</span>
            </div>

        </form>
        <!--数据列表-->
        <div class="layui-tab-content">
            <table id="table" class="layui-table"></table>
        </div>
        <!--CRUD START-->
        <!--详情-->
        <div class="detail crud" id="detail" style="display: none;">
            <form id="detailUserForm" style="margin-left: 90px; margin-top: 71px;">
                <table class="data-table">
                    <tr>
                        <td class="table-property-name">登录账号 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="username"></span>
                        </td>
                        <td class="table-property-name">用户ID :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="userId"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">性别 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="gender"></span>
                        </td>
                        <td class="table-property-name">中文姓名 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="nameCn"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">英文姓名 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="nameEn"></span>
                        </td>
                        <td class="table-property-name">手机号码 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="phone"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">创建者 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="creator"></span>
                        </td>
                        <td class="table-property-name">创建时间 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="gmtCreated"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">更新者 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="modifier"></span>
                        </td>
                        <td class="table-property-name">更新时间 :</td>
                        <td class="table-property-value">
                            <span  class="bukkle-detail" id="gmtModified"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">状态 :</td>
                        <td class="table-property-value">
                            <span   class="bukkle-detail"id="status"></span>
                        </td>
                        <td class="table-property-name">备注 :</td>
                        <td class="table-property-value">
                            <span   class="bukkle-detail"id="bak01"></span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!--编辑-->
        <div class="detail crud" id="edit" style="display: none;">
            <form id="editUserForm">
                <table class="data-table">
                    <tr>
                        <td class="table-property-name">登录账号 :</td>
                        <td class="table-property-value">
                            <input type="text" id="usernameEdit" name="username" disabled autocomplete="false" class="buukle-frame-input">
                        </td>
                        <td class="table-property-name">登录密码 :</td>
                        <td class="table-property-value">
                            <textarea class="layui-textarea buukle-add-textarea" disabled placeholder="密码不允许修改,请联系用户自行修改密码,或使用[重置密码]功能重置后通知用户" style="color: red;">
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">性别 :</td>
                        <td class="table-property-value">
                            <select id="genderEdit" name="gender" class="buukle-frame-input btn-layer-type-selector selector add-input" >
                                <option class="select-item" value="" data-status="">------------请选择-------------</option>
                                <option class="select-item" value="1" data-status="1">-------------男---------------</option>
                                <option class="select-item" value="0" data-status="0">-------------女---------------</option>
                            </select>
                        </td>
                        <td class="table-property-name">中文姓名 :</td>
                        <td class="table-property-value">
                            <input type="text" id="nameCnEdit" name="nameCn" class="buukle-frame-input add-input"  >
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">英文姓名 :</td>
                        <td class="table-property-value">
                            <input type="text" id="nameEnEdit" name="nameEn" class="buukle-frame-input add-input"  >
                        </td>
                        <td class="table-property-name">手机号码 :</td>
                        <td class="table-property-value">
                            <input type="text" id="phoneEdit" name="phone" class="buukle-frame-input add-input" >
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">状态 :</td>
                        <td class="table-property-value" id="statusFather"></td>
                        <td class="table-property-name">备注 :</td>
                        <td class="table-property-value">
                            <textarea class="layui-textarea buukle-add-textarea" id="bak01Edit" name="bak01" ></textarea>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="buukle-save-cancel">
                <button class="layui-btn commitBtn saveBtn theme-btn" data-form-id="addButtonForm" id="editUser">保存</button>
                <button class="layui-btn layui-btn-primary layui-layer-close back-button" id="cancelEditUser">取消</button>
            </div>
        </div>
        <input id="currentRecordId" type="hidden">
        <input id="currentRecordName" type="hidden">
        <!--添加页面-->
        <div class="hiddenForm" id="add">
            <form id="addUserForm">
                <table class="data-table">
                    <tr>
                        <td class="table-property-name">登录账号 :</td>
                        <td class="table-property-value">
                            <input type="text" name="username" autocomplete="false" class="buukle-frame-input add-input">
                        </td>
                        <td class="table-property-name">登录密码 :</td>
                        <td class="table-property-value">
                            <input type="password" name="password" autocomplete="false" class="buukle-frame-input add-input">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">性别 :</td>
                        <td class="table-property-value">
                            <select class="buukle-frame-input btn-layer-type-selector selector add-input" name="gender">
                                <option class="select-item" value="" data-status="">------------请选择-------------</option>
                                <option class="select-item" value="1" data-status="1">-------------男---------------</option>
                                <option class="select-item" value="0" data-status="0">-------------女---------------</option>
                            </select>
                        </td>
                        <td class="table-property-name">中文姓名 :</td>
                        <td class="table-property-value">
                            <input type="text" name="nameCn" class="buukle-frame-input add-input"  >
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">英文姓名 :</td>
                        <td class="table-property-value">
                            <input type="text" name="nameEn" class="buukle-frame-input add-input"  >
                        </td>
                        <td class="table-property-name">手机号码 :</td>
                        <td class="table-property-value">
                            <input type="text" name="phone" class="buukle-frame-input add-input" >
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">状态 :</td>
                        <td class="table-property-value">
                            <select id="addStatus" class="buukle-frame-input btn-layer-type-selector selector add-input" name="status">
                                <option class="select-item" value="" data-status="">------------请选择-------------</option>
                                <option class="select-item" value="1" data-status="1">-------------启用---------------</option>
                                <option class="select-item" value="0" data-status="0">-------------停用---------------</option>
                            </select>
                        </td>
                        <td class="table-property-name">备注 :</td>
                        <td class="table-property-value">
                            <textarea class="layui-textarea buukle-add-textarea" name="bak01" ></textarea>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="buukle-save-cancel" style="margin-top: -50px;">
                <button class="layui-btn commitBtn saveBtn theme-btn" data-form-id="addButtonForm" id="addUser">保存</button>
                <button class="layui-btn layui-btn-primary layui-layer-close back-button" id="cancelAddUser">取消</button>
            </div>
        </div>
        <!--设置角色-->
        <div class="hiddenForm" id="setUserRole">
            <form id="setUserRoleForm">
                <input type="hidden" name="userId" id="setUserRoleId">
                <input type="hidden" name="roleLevel" id="roleLevel">
                <div style="margin-left: 35px; margin-top: 20px;"> 用户 : <span id="nameForSetUserRole" style="color: #5DB276;"> [ 加载中... ] </span> </div>
                <div style="margin-left: 35px; margin-top: 20px;"> 角色 : </div>
                <div id="roleListContains" class="roleListContains containsClearAbleBuukle"></div>
                <div style="margin-left: 35px;margin-top: 48px; margin-bottom: 24px;"> 归属关系 : <span id="roleFirst" style="color: red;display: none;margin-left: 63px;"></span></div>
                <table class="data-table">
                    <tr>
                        <td class="table-property-name platform-belonging">平台 :</td>
                        <td class="table-property-value platform-belonging">
                            <input readonly id="select-index-1" class="buukle-input search-condition select-input" data-selectType="1" data-selectUrl="/common/getSelectItemByType" type="text" placeholder="请选择" autocomplete="off">
                            <input type="hidden" id="select-index-idStr-1" name="platformId" />
                            <input type="hidden" id="select-index-idInteger-1" />
                            <!--备选框-->
                            <div id="select-items-index-1" class="select-item-div" data-selectIndex="1"> </div>
                        </td>
                        <td class="table-property-name agent-belonging">代理 :</td>
                        <td class="table-property-value agent-belonging">
                            <input readonly id="select-index-2" class="buukle-input search-condition select-input selectType2" data-selectType="2" data-superCode="" data-selectUrl="/common/getSelectItemByType" type="text" placeholder="请选择平台" autocomplete="off">
                            <input type="hidden" id="select-index-idStr-2"  name="agentId" />
                            <input type="hidden" id="select-index-idInteger-2" />
                            <!--备选框-->
                            <div id="select-items-index-2" class="select-item-div" data-selectIndex="2"> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name group-belonging">区域 :</td>
                        <td class="table-property-value group-belonging">
                            <input readonly id="select-index-3" class="buukle-input search-condition select-input selectType3" data-selectType="3" data-superCode="" data-selectUrl="/common/getSelectItemByType" type="text" placeholder="请选择代理" autocomplete="off">
                            <input type="hidden" id="select-index-idStr-3"  name="groupId" />
                            <input type="hidden" id="select-index-idInteger-3" />
                            <!--建议框-->
                            <div id="select-items-index-3" class="select-item-div" data-selectIndex="3"> </div>
                        </td>
                        <td class="table-property-name salesman-belonging">业务员 :</td>
                        <td class="table-property-value salesman-belonging">
                            <input readonly id="select-index-4" class="buukle-input search-condition select-input selectType4" data-selectType="4" data-superCode="" data-selectUrl="/common/getSelectItemByType" type="text" placeholder="请选择区域" autocomplete="off">
                            <input type="hidden" id="select-index-idStr-4"  name="salesmanId" />
                            <input type="hidden" id="select-index-idInteger-4" />
                            <!--建议框-->
                            <div id="select-items-index-4" class="select-item-div" data-selectIndex="4"> </div>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="buukle-frame-bottom" style="margin-top: -120px;">
                <button class="layui-btn back-button layui-layer-close saveBtn theme-btn" id="doSetUserRole">保存</button>
                <button class="layui-btn layui-btn-primary layui-layer-close back-button" id="cancelSetUserRole">取消</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/mods/jquery-3.3.1.min.js"></script>
<script src=" /static/ztree/js/jquery.ztree.core.js"></script>
<script src=" /static/ztree/js/jquery.ztree.excheck.js"></script>
<script src=" /static/ztree/js/jquery.ztree.exedit.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/buukle/js/util/component.js"></script>
<script src="/static/buukle/js/permission/user/userList.js"></script>
</body>
</html>