<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.buukle.provider.security.dao.ButtonMapper" >
  <resultMap id="BaseResultMap" type="top.buukle.plugin.security.entity.Button" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="button_name" property="buttonName" jdbcType="VARCHAR" />
    <result column="operation_type" property="operationType" jdbcType="INTEGER" />
    <result column="response_type" property="responseType" jdbcType="INTEGER" />
    <result column="layout_level" property="layoutLevel" jdbcType="INTEGER" />
    <result column="response_dom_id" property="responseDomId" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_code" property="creatorCode" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifier_code" property="modifierCode" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bak01" property="bak01" jdbcType="VARCHAR" />
    <result column="bak02" property="bak02" jdbcType="VARCHAR" />
    <result column="bak03" property="bak03" jdbcType="VARCHAR" />
    <result column="bak04" property="bak04" jdbcType="VARCHAR" />
    <result column="bak05" property="bak05" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, module_id, button_name, operation_type, response_type, layout_level, response_dom_id, 
    creator, creator_code, gmt_created, modifier, modifier_code, gmt_modified, status, 
    bak01, bak02, bak03, bak04, bak05
  </sql>
  <sql id="Base_Column_Update" >
    <if test="url != null" >
      url = #{url,jdbcType=VARCHAR},
    </if>
    <if test="moduleId != null" >
      module_id = #{moduleId,jdbcType=INTEGER},
    </if>
    <if test="buttonName != null" >
      button_name = #{buttonName,jdbcType=VARCHAR},
    </if>
    <if test="operationType != null" >
      operation_type = #{operationType,jdbcType=INTEGER},
    </if>
    <if test="responseType != null" >
      response_type = #{responseType,jdbcType=INTEGER},
    </if>
    <if test="layoutLevel != null" >
      layout_level = #{layoutLevel,jdbcType=INTEGER},
    </if>
    <if test="responseDomId != null" >
      response_dom_id = #{responseDomId,jdbcType=VARCHAR},
    </if>
    <if test="creator != null" >
      creator = #{creator,jdbcType=VARCHAR},
    </if>
    <if test="creatorCode != null" >
      creator_code = #{creatorCode,jdbcType=VARCHAR},
    </if>
    <if test="gmtCreated != null" >
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
    </if>
    <if test="modifier != null" >
      modifier = #{modifier,jdbcType=VARCHAR},
    </if>
    <if test="modifierCode != null" >
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
    </if>
    <if test="gmtModified != null" >
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
    </if>
    <if test="status != null" >
      status = #{status,jdbcType=INTEGER},
    </if>
    <if test="bak01 != null" >
      bak01 = #{bak01,jdbcType=VARCHAR},
    </if>
    <if test="bak02 != null" >
      bak02 = #{bak02,jdbcType=VARCHAR},
    </if>
    <if test="bak03 != null" >
      bak03 = #{bak03,jdbcType=VARCHAR},
    </if>
    <if test="bak04 != null" >
      bak04 = #{bak04,jdbcType=VARCHAR},
    </if>
    <if test="bak05 != null" >
      bak05 = #{bak05,jdbcType=VARCHAR},
    </if>
    id = #{id,jdbcType=INTEGER}
  </sql>
  <sql id="Base_Column_where" >
      <if test="id != null " >
          and id = #{id}
      </if>
      <if test="url != null  and url !='' " >
          and url = #{url}
      </if>
      <if test="moduleId != null  and moduleId !='' " >
          and module_id = #{moduleId}
      </if>
      <if test="buttonName != null  and buttonName !='' " >
          and button_name = #{buttonName}
      </if>
      <if test="operationType != null  and operationType !='' " >
          and operation_type = #{operationType}
      </if>
      <if test="responseType != null  and responseType !='' " >
          and response_type = #{responseType}
      </if>
      <if test="layoutLevel != null  and layoutLevel !='' " >
          and layout_level = #{layoutLevel}
      </if>
      <if test="responseDomId != null  and responseDomId !='' " >
          and response_dom_id = #{responseDomId}
      </if>
      <if test="creator != null  and creator !='' " >
          and creator = #{creator}
      </if>
      <if test="creatorCode != null  and creatorCode !='' " >
          and creator_code = #{creatorCode}
      </if>
      <if test="gmtCreated != null  and gmtCreated !='' " >
          and gmt_created = #{gmtCreated}
      </if>
      <if test="modifier != null  and modifier !='' " >
          and modifier = #{modifier}
      </if>
      <if test="modifierCode != null  and modifierCode !='' " >
          and  modifier_code = #{modifierCode}
      </if>
      <if test="gmtModified != null  and gmtModified !='' " >
          and gmt_modified = #{gmtModified}
      </if>
      <if test="status != null" >
          and status = #{status}
      </if>
      <if test="bak01 != null  and bak01 !='' " >
          and bak01 = #{bak01}
      </if>
      <if test="bak02 != null  and bak02 !='' " >
          and  bak02 = #{bak02}
      </if>
      <if test="bak03 != null  and bak03 !='' " >
          and bak03 = #{bak03}
      </if>
      <if test="bak04 != null  and bak04 !='' " >
          and bak04 = #{bak04}
      </if>
      <if test="bak05 != null  and bak05 !='' " >
          and bak05 = #{bak05}
      </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from button
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from button
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.buukle.plugin.security.entity.Button" >
    insert into button (id, url, module_id, 
      button_name, operation_type, response_type, 
      layout_level, response_dom_id, creator, 
      creator_code, gmt_created, modifier, 
      modifier_code, gmt_modified, status, 
      bak01, bak02, bak03, 
      bak04, bak05)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{moduleId,jdbcType=INTEGER}, 
      #{buttonName,jdbcType=VARCHAR}, #{operationType,jdbcType=INTEGER}, #{responseType,jdbcType=INTEGER}, 
      #{layoutLevel,jdbcType=INTEGER}, #{responseDomId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorCode,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
      #{modifierCode,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{bak01,jdbcType=VARCHAR}, #{bak02,jdbcType=VARCHAR}, #{bak03,jdbcType=VARCHAR}, 
      #{bak04,jdbcType=VARCHAR}, #{bak05,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.buukle.plugin.security.entity.Button" >
    insert into button
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="buttonName != null" >
        button_name,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="responseType != null" >
        response_type,
      </if>
      <if test="layoutLevel != null" >
        layout_level,
      </if>
      <if test="responseDomId != null" >
        response_dom_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorCode != null" >
        creator_code,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifierCode != null" >
        modifier_code,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bak01 != null" >
        bak01,
      </if>
      <if test="bak02 != null" >
        bak02,
      </if>
      <if test="bak03 != null" >
        bak03,
      </if>
      <if test="bak04 != null" >
        bak04,
      </if>
      <if test="bak05 != null" >
        bak05,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="buttonName != null" >
        #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=INTEGER},
      </if>
      <if test="responseType != null" >
        #{responseType,jdbcType=INTEGER},
      </if>
      <if test="layoutLevel != null" >
        #{layoutLevel,jdbcType=INTEGER},
      </if>
      <if test="responseDomId != null" >
        #{responseDomId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorCode != null" >
        #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierCode != null" >
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bak01 != null" >
        #{bak01,jdbcType=VARCHAR},
      </if>
      <if test="bak02 != null" >
        #{bak02,jdbcType=VARCHAR},
      </if>
      <if test="bak03 != null" >
        #{bak03,jdbcType=VARCHAR},
      </if>
      <if test="bak04 != null" >
        #{bak04,jdbcType=VARCHAR},
      </if>
      <if test="bak05 != null" >
        #{bak05,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.buukle.plugin.security.entity.Button" >
    update button
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="buttonName != null" >
        button_name = #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=INTEGER},
      </if>
      <if test="responseType != null" >
        response_type = #{responseType,jdbcType=INTEGER},
      </if>
      <if test="layoutLevel != null" >
        layout_level = #{layoutLevel,jdbcType=INTEGER},
      </if>
      <if test="responseDomId != null" >
        response_dom_id = #{responseDomId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorCode != null" >
        creator_code = #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierCode != null" >
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="bak01 != null" >
        bak01 = #{bak01,jdbcType=VARCHAR},
      </if>
      <if test="bak02 != null" >
        bak02 = #{bak02,jdbcType=VARCHAR},
      </if>
      <if test="bak03 != null" >
        bak03 = #{bak03,jdbcType=VARCHAR},
      </if>
      <if test="bak04 != null" >
        bak04 = #{bak04,jdbcType=VARCHAR},
      </if>
      <if test="bak05 != null" >
        bak05 = #{bak05,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.buukle.plugin.security.entity.Button" >
    update button
    set url = #{url,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=INTEGER},
      button_name = #{buttonName,jdbcType=VARCHAR},
      operation_type = #{operationType,jdbcType=INTEGER},
      response_type = #{responseType,jdbcType=INTEGER},
      layout_level = #{layoutLevel,jdbcType=INTEGER},
      response_dom_id = #{responseDomId,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_code = #{creatorCode,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      bak01 = #{bak01,jdbcType=VARCHAR},
      bak02 = #{bak02,jdbcType=VARCHAR},
      bak03 = #{bak03,jdbcType=VARCHAR},
      bak04 = #{bak04,jdbcType=VARCHAR},
      bak05 = #{bak05,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--start-->
  <select id="getGlobalButtonList" resultMap="BaseResultMap">
    select b.* from button b where b.status = 1;
  </select>

  <select id="getUserButtonListByUserModuleList" resultMap="BaseResultMap" parameterType="java.util.List">
    select b.* from button b , module_button mb where
    b.status = 1
    <if test="userModuleList != null and userModuleList.size() > 0">
      and mb.module_id in
      <foreach collection="userModuleList" item="module" separator="," open="(" close=")">
        #{module.id}
      </foreach>
    </if>
    and mb.button_id = b.id;
  </select>

    <select id="getButtonList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select <include refid="Base_Column_List" /> from button where 1=1
        <include refid="Base_Column_where" />
        <if test="startTime != null  and startTime !='' " >
            and gmt_created &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime !='' " >
            and gmt_created &lt;= #{endTime}
        </if>
      order by gmt_modified DESC
    </select>

    <select id="getModuleButtons" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      SELECT
      *
      FROM
      button b,
      module_button mb
      WHERE b.status = 1
      AND mb.`module_id` = #{moduleId}
      AND mb.`button_id` = b.`id`;
    </select>

    <update id="doBanOrRelease" parameterType="java.util.Map" >
      update button
      set
      <include refid="Base_Column_Update" />
      where
      button.id = #{id}
    </update>

  <select id="fuzzySearchByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT b.`button_name` FROM button b WHERE b.`button_name` LIKE #{fuzzyText};
  </select>
</mapper>