<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.buukle.provider.security.dao.BuukleSignMapper" >
  <resultMap id="BaseResultMap" type="top.buukle.plugin.security.entity.BuukleSign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="application_name" property="applicationName" jdbcType="VARCHAR" />
    <result column="partner_id" property="partnerId" jdbcType="VARCHAR" />
    <result column="partner_type" property="partnerType" jdbcType="INTEGER" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
    <result column="partner_key_valid" property="partnerKeyValid" jdbcType="TIMESTAMP" />
    <result column="partner_key_endvalid" property="partnerKeyEndvalid" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_no" property="creatorNo" jdbcType="VARCHAR" />
    <result column="creator_type" property="creatorType" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifier_no" property="modifierNo" jdbcType="VARCHAR" />
    <result column="modifier_type" property="modifierType" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.buukle.plugin.security.entity.BuukleSign" extends="BaseResultMap" >
    <result column="partner_key" property="partnerKey" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, application_name, partner_id, partner_type, sign_type, partner_key_valid, partner_key_endvalid, 
    status, creator, creator_no, creator_type, gmt_created, modifier, modifier_no, modifier_type, 
    gmt_modified, remark
  </sql>
  <sql id="Base_Column_where" >
      <if test="applicationName != null and applicationName != '' " >
          and application_name = #{applicationName,jdbcType=VARCHAR}
      </if>
      <if test="partnerId != null  and partnerId != '' " >
          and partner_id = #{partnerId,jdbcType=VARCHAR}
      </if>
      <if test="partnerType != null  and partnerType != '' " >
          and partner_type = #{partnerType,jdbcType=INTEGER}
      </if>
      <if test="signType != null  and signType != '' " >
          and sign_type = #{signType,jdbcType=VARCHAR}
      </if>
      <if test="partnerKeyValid != null  and partnerKeyValid != '' " >
          and partner_key_valid = #{partnerKeyValid,jdbcType=TIMESTAMP}
      </if>
      <if test="partnerKeyEndvalid != null  and partnerKeyEndvalid != '' " >
          and partner_key_endvalid = #{partnerKeyEndvalid,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null  and status != '' " >
          and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="creator != null  and creator != '' " >
          and creator = #{creator,jdbcType=VARCHAR}
      </if>
      <if test="creatorNo != null  and creatorNo != '' " >
          and creator_no = #{creatorNo,jdbcType=VARCHAR}
      </if>
      <if test="creatorType != null  and creatorType != '' " >
          and creator_type = #{creatorType,jdbcType=VARCHAR}
      </if>
      <if test="gmtCreated != null  and gmtCreated != '' " >
          and gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}
      </if>
      <if test="modifier != null  and modifier != '' " >
          and modifier = #{modifier,jdbcType=VARCHAR}
      </if>
      <if test="modifierNo != null  and modifierNo != '' " >
          and modifier_no = #{modifierNo,jdbcType=VARCHAR}
      </if>
      <if test="modifierType != null  and modifierType != '' " >
          and modifier_type = #{modifierType,jdbcType=VARCHAR}
      </if>
      <if test="gmtModified != null  and gmtModified != '' " >
          and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
      </if>
      <if test="remark != null  and remark != '' " >
          and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="partnerKey != null  and partnerKey != '' " >
          and partner_key = #{partnerKey,jdbcType=LONGVARCHAR}
      </if>
  </sql>
  <sql id="Blob_Column_List" >
    partner_key
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from buukle_sign
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buukle_sign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.buukle.plugin.security.entity.BuukleSign" >
    insert into buukle_sign (id, application_name, partner_id, 
      partner_type, sign_type, partner_key_valid, 
      partner_key_endvalid, status, creator, 
      creator_no, creator_type, gmt_created, 
      modifier, modifier_no, modifier_type, 
      gmt_modified, remark, partner_key
      )
    values (#{id,jdbcType=INTEGER}, #{applicationName,jdbcType=VARCHAR}, #{partnerId,jdbcType=VARCHAR}, 
      #{partnerType,jdbcType=INTEGER}, #{signType,jdbcType=VARCHAR}, #{partnerKeyValid,jdbcType=TIMESTAMP}, 
      #{partnerKeyEndvalid,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{creatorNo,jdbcType=VARCHAR}, #{creatorType,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP},
      #{modifier,jdbcType=VARCHAR}, #{modifierNo,jdbcType=VARCHAR}, #{modifierType,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{partnerKey,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.buukle.plugin.security.entity.BuukleSign" >
    insert into buukle_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicationName != null" >
        application_name,
      </if>
      <if test="partnerId != null" >
        partner_id,
      </if>
      <if test="partnerType != null" >
        partner_type,
      </if>
      <if test="signType != null" >
        sign_type,
      </if>
      <if test="partnerKeyValid != null" >
        partner_key_valid,
      </if>
      <if test="partnerKeyEndvalid != null" >
        partner_key_endvalid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorNo != null" >
        creator_no,
      </if>
      <if test="creatorType != null" >
        creator_type,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifierNo != null" >
        modifier_no,
      </if>
      <if test="modifierType != null" >
        modifier_type,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="partnerKey != null" >
        partner_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicationName != null" >
        #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="partnerId != null" >
        #{partnerId,jdbcType=VARCHAR},
      </if>
      <if test="partnerType != null" >
        #{partnerType,jdbcType=INTEGER},
      </if>
      <if test="signType != null" >
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="partnerKeyValid != null" >
        #{partnerKeyValid,jdbcType=TIMESTAMP},
      </if>
      <if test="partnerKeyEndvalid != null" >
        #{partnerKeyEndvalid,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorNo != null" >
        #{creatorNo,jdbcType=VARCHAR},
      </if>
      <if test="creatorType != null" >
        #{creatorType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierNo != null" >
        #{modifierNo,jdbcType=VARCHAR},
      </if>
      <if test="modifierType != null" >
        #{modifierType,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="partnerKey != null" >
        #{partnerKey,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.buukle.plugin.security.entity.BuukleSign" >
    update buukle_sign
    <set >
      <if test="applicationName != null" >
        application_name = #{applicationName,jdbcType=VARCHAR},
      </if>
      <if test="partnerId != null" >
        partner_id = #{partnerId,jdbcType=VARCHAR},
      </if>
      <if test="partnerType != null" >
        partner_type = #{partnerType,jdbcType=INTEGER},
      </if>
      <if test="signType != null" >
        sign_type = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="partnerKeyValid != null" >
        partner_key_valid = #{partnerKeyValid,jdbcType=TIMESTAMP},
      </if>
      <if test="partnerKeyEndvalid != null" >
        partner_key_endvalid = #{partnerKeyEndvalid,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorNo != null" >
        creator_no = #{creatorNo,jdbcType=VARCHAR},
      </if>
      <if test="creatorType != null" >
        creator_type = #{creatorType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierNo != null" >
        modifier_no = #{modifierNo,jdbcType=VARCHAR},
      </if>
      <if test="modifierType != null" >
        modifier_type = #{modifierType,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="partnerKey != null" >
        partner_key = #{partnerKey,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.buukle.plugin.security.entity.BuukleSign" >
    update buukle_sign
    set application_name = #{applicationName,jdbcType=VARCHAR},
      partner_id = #{partnerId,jdbcType=VARCHAR},
      partner_type = #{partnerType,jdbcType=INTEGER},
      sign_type = #{signType,jdbcType=VARCHAR},
      partner_key_valid = #{partnerKeyValid,jdbcType=TIMESTAMP},
      partner_key_endvalid = #{partnerKeyEndvalid,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creator_no = #{creatorNo,jdbcType=VARCHAR},
      creator_type = #{creatorType,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_no = #{modifierNo,jdbcType=VARCHAR},
      modifier_type = #{modifierType,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      partner_key = #{partnerKey,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.buukle.plugin.security.entity.BuukleSign" >
    update buukle_sign
    set application_name = #{applicationName,jdbcType=VARCHAR},
      partner_id = #{partnerId,jdbcType=VARCHAR},
      partner_type = #{partnerType,jdbcType=INTEGER},
      sign_type = #{signType,jdbcType=VARCHAR},
      partner_key_valid = #{partnerKeyValid,jdbcType=TIMESTAMP},
      partner_key_endvalid = #{partnerKeyEndvalid,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creator_no = #{creatorNo,jdbcType=VARCHAR},
      creator_type = #{creatorType,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_no = #{modifierNo,jdbcType=VARCHAR},
      modifier_type = #{modifierType,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--start  -->
  <select id="getBuukleSignByParas" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from buukle_sign
    where 1=1
      <include refid="Base_Column_where" />
  </select>
</mapper>