package $!table.get("basePackage") .entity.vo;

import $!table.get("basePackage") .entity. ${table.entityName};

/**
* @author elvin
* @description  User 查询包装类
*/
public class ${table.entityName}Query extends ${table.entityName} {

    /** 当前页码*/
    private Integer page;
    /** 页长*/
    private Integer pageSize;
    /** 起始时间*/
    private String startTime;
    /** 截止时间*/
    private String endTime;
    /** 状态*/
    private Integer states;

    public Integer getStates() {
    return super.getStatus();
    }

    public void setStates(Integer states) {
    super.setStatus(states);
    }

    public Integer getPage() {
        return page == null ? 1 : page;
    }

    public void setPage(Integer page) {
        this.page = page;
    }

    public Integer getPageSize() {
        return pageSize == null ? 10 : pageSize;
    }

    public void setPageSize(Integer pageSize) {
        this.pageSize = pageSize;
    }

    public String getStartTime() {
        return startTime;
    }

    public void setStartTime(String startTime) {
        this.startTime = startTime;
    }

    public String getEndTime() {
        return endTime;
    }

    public void setEndTime(String endTime) {
        this.endTime = endTime;
    }
}