package $!table.get("basePackage") .service;

import top.buukle.common.call.CommonResponse;
import top.buukle.security.entity.vo.${table.entityName}Query;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

/**
* @author elvin
* @description ${table.entityName}Service 接口类
*/
public interface ${table.entityName}Service extends BaseService{

    CommonResponse saveOrEdit(${table.entityName}Query query, HttpServletRequest request, HttpServletResponse response);

}