package $!table.get("basePackage") .controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import top.buukle.common.response.BaseResponse;
import top.buukle.common.vo.page.PageBounds;
import top.buukle.common.vo.fuuzy.FuzzySearchListVo;
import top.buukle.common.vo.response.PageResponse;
import $!table.get("basePackage") .service.${table.entityName}Service;
import $!table.get("basePackage") .entity.${table.entityName};
import $!table.get("basePackage") .entity.vo.${table.entityName}Query;


import javax.servlet.http.HttpServletRequest;
import java.util.List;

/**
* @author elvin
* @description ${table.entityName} controller
*/
@Controller
@RequestMapping("/${table.entityNameFirstLowerCase}")
public class ${table.entityName}Controller{

    @Autowired
    ${table.entityName}Service ${table.entityNameFirstLowerCase}Service;

    /**
    * 获取列表
    * @return
    * @throws Exception
    */
    @RequestMapping("/get${table.entityName}List")
    @ResponseBody
    public PageResponse<${table.entityName}> get${table.entityName}List(${table.entityName}Query query,PageBounds pageBounds) throws Exception {
        return ${table.entityNameFirstLowerCase}Service.get${table.entityName}List(query,pageBounds);
    }

    /**
    * 模糊搜索
    * @param fuzzyText
    * @return
    * @throws Exception
    */
    @RequestMapping("/fuzzySearchByText")
    @ResponseBody
    public List<FuzzySearchListVo>  fuzzySearchByText(String fuzzyText) throws Exception {
        return ${table.entityNameFirstLowerCase}Service.fuzzySearchByText(fuzzyText);
    }

    /**
    * 删除记录
    * @param query
    * @param request
    * @return
    * @throws Exception
    */
    @RequestMapping("/delete${table.entityName}")
    @ResponseBody
    public BaseResponse delete${table.entityName}(${table.entityName}Query query, HttpServletRequest request) throws Exception {
        return ${table.entityNameFirstLowerCase}Service.delete${table.entityName}(query,request);
    }

    /**
    * 查看记录详情
    * @param query
    * @return
    * @throws Exception
    */
    @RequestMapping("/get${table.entityName}Detail")
    @ResponseBody
    public ${table.entityName} get${table.entityName}Detail(${table.entityName}Query query) throws Exception {
        return ${table.entityNameFirstLowerCase}Service.get${table.entityName}Detail(query);
    }

    /**
    * 新增记录
    * @param query
    * @param request
    * @return
    * @throws Exception
    */
    @RequestMapping("/save${table.entityName}")
    @ResponseBody
    public BaseResponse save${table.entityName}(${table.entityName}Query query, HttpServletRequest request) throws Exception {
        return ${table.entityNameFirstLowerCase}Service.save${table.entityName}(query,request);
    }

    /**
    * 更新记录
    * @param query
    * @param request
    * @return
    * @throws Exception
    */
    @RequestMapping("/update${table.entityName}")
    @ResponseBody
    public BaseResponse update${table.entityName}(${table.entityName}Query query, HttpServletRequest request) throws Exception {
        return ${table.entityNameFirstLowerCase}Service.update${table.entityName}(query,request);
    }

}