package $!table.get("basePackage") .entity.vo;

import $!table.get("basePackage") .entity. ${table.entityName};

/**
* @author elvin
* @description  ${table.entityName} 查询包装类
*/
public class ${table.entityName}Query extends ${table.entityName}{

    /** 起始时间*/
    private String startTime ;

    /** 结束时间*/
    private String endTime ;

    public String getStartTime() {
        return startTime;
    }

    public void setStartTime(String startTime) {
        this.startTime = startTime;
    }

    public String getEndTime() {
        return endTime;
    }

    public void setEndTime(String endTime) {
        this.endTime = endTime;
    }

}