package $!table.get("basePackage") .service;

import top.buukle.common.response.BaseResponse;
import top.buukle.common.vo.response.PageResponse;
import top.buukle.common.vo.page.PageBounds;
import top.buukle.common.vo.fuuzy.FuzzySearchListVo;
import java.util.List;
import $!table.get("basePackage") .entity.${table.entityName};
import $!table.get("basePackage") .entity.vo.${table.entityName}Query;

import javax.servlet.http.HttpServletRequest;

/**
* @author elvin
* @description ${table.entityName}Service 接口类
*/
public interface ${table.entityName}Service{

    /**
    * 分页获取列表
    * @param query
    * @param pageBounds
    * @return
    */
    public PageResponse<${table.entityName}> get${table.entityName}List(${table.entityName}Query query, PageBounds pageBounds);

    /**
    * 模糊搜索
    * @param fuzzyText
    * @return
    */
    public List<FuzzySearchListVo> fuzzySearchByText(String fuzzyText);

    /**
    * 逻辑删除单条数据
    * @param query
    * @param request
    * @return
    */
    BaseResponse delete${table.entityName}(${table.entityName}Query query, HttpServletRequest request);

    /**
    * 获取记录详情
    * @param query
    * @return
    */
    ${table.entityName} get${table.entityName}Detail(${table.entityName}Query query);


    /**
    * 保存记录
    * @param query
    * @param request
    * @return
    */
    BaseResponse save${table.entityName}(${table.entityName}Query query, HttpServletRequest request);

    /**
    * 更新记录
    * @param query
    * @param request
    * @return
    */
    BaseResponse update${table.entityName}(${table.entityName}Query query, HttpServletRequest request);
}