package $!table.get("basePackage") .service.impl;

import org.apache.commons.collections.CollectionUtils;
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import top.buukle.common.constants.BaseResponseCode;
import top.buukle.common.exception.BaseException;
import top.buukle.common.response.BaseResponse;
import top.buukle.common.util.common.DateUtil;
import top.buukle.common.util.common.StringUtil;
import top.buukle.common.vo.response.PageResponse;
import $!table.get("basePackage") .constants.StatusConstants;
import $!table.get("basePackage") .entity.${table.entityName}Example;
import top.buukle.plugin.security.client.SecurityClient;
import top.buukle.plugin.security.entity.User;
import top.buukle.plugin.security.vo.query.PageBounds;
import top.buukle.plugin.security.vo.response.FuzzySearchListVo;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import java.util.ArrayList;
import java.util.Date;
import java.util.List;


import $!table.get("basePackage") .service.${table.entityName}Service;
import $!table.get("basePackage") .dao.${table.entityName}Mapper;
import $!table.get("basePackage") .entity.${table.entityName};
import $!table.get("basePackage") .entity.vo.${table.entityName}Query;

import javax.servlet.http.HttpServletRequest;

/**
* @author elvin
* @description ${table.entityName}Service实现类
*/
@Service
public class ${table.entityName}ServiceImpl implements ${table.entityName}Service{

    @Autowired
    private ${table.entityName}Mapper ${table.entityNameFirstLowerCase}Mapper;

    @Autowired
    private SecurityClient securityClient;

    /**
    * 分页获取列表
    * @param query
    * @param pageBounds
    * @return
    */
    @Override
    public PageResponse<${table.entityName}> get${table.entityName}List(${table.entityName}Query query, PageBounds pageBounds) {
    PageHelper.startPage(pageBounds.getPage(), pageBounds.getLimit());
        return new PageResponse.Builder().build(new PageInfo<>(${table.entityNameFirstLowerCase}Mapper.selectByExample(this.assExampleForList(query))));
    }

    /**
    * 模糊搜素
    * @param fuzzyText
    * @return
    */
    @Override
    public List<FuzzySearchListVo> fuzzySearchByText(String fuzzyText) {
        List<${table.entityName}> list = ${table.entityNameFirstLowerCase}Mapper.selectByExample(this.assFuzzyExample(fuzzyText));
        List<FuzzySearchListVo> fuzzySearchListVos = new ArrayList<>();
        if(CollectionUtils.isNotEmpty(list)){
            for (${table.entityName} item: list) {
                FuzzySearchListVo fuzzySearchListVo = new FuzzySearchListVo();
                //fuzzySearchListVo.setText(item.getTitle());
                fuzzySearchListVos.add(fuzzySearchListVo);
            }
        }
        return fuzzySearchListVos;
        }

    /**
    * 根据id更新记录状态数据
    * @param query
    * @param request
    * @return
    */
    @Override
    public BaseResponse delete${table.entityName}(${table.entityName}Query query, HttpServletRequest request) {
        if(${table.entityNameFirstLowerCase}Mapper.updateByPrimaryKeySelective(this.assQueryForUpdateStatus(query,StatusConstants.STATUS_DELETED_CONCELABLE,request)) != 1){
            throw new BaseException(BaseResponseCode.STATUS_UPDATE_FAIL);
        }
        return new BaseResponse.Builder().buildSuccess();
    }

    /**
    * 查询记录详情
    * @param query
    * @return
    */
    @Override
    public ${table.entityName} get${table.entityName}Detail(${table.entityName}Query query) {
        return ${table.entityNameFirstLowerCase}Mapper.selectByPrimaryKey(query.getId());
    }

    /**
    * 保存记录
    * @param query
    * @param request
    * @return
    */
    @Override
    public BaseResponse save${table.entityName}(${table.entityName}Query query, HttpServletRequest request) {
        ${table.entityNameFirstLowerCase}Mapper.insert(this.assQueryForInsert(query,request));
        return new BaseResponse.Builder().buildSuccess();
    }

    /**
    * 更新记录
    * @param query
    * @param request
    * @return
    */
    @Override
    public BaseResponse update${table.entityName}(${table.entityName}Query query, HttpServletRequest request) {
        ${table.entityName}Example ${table.entityNameFirstLowerCase}Example = new ${table.entityName}Example();
        ${table.entityName}Example.Criteria criteria = ${table.entityNameFirstLowerCase}Example.createCriteria();
        criteria.andIdEqualTo(query.getId());
        User operator = securityClient.getUserInfo(request);
        query.setGmtModified(new Date());
        query.setModifier(operator.getUsername());
        query.setModifierCode(operator.getUserId());
        ${table.entityNameFirstLowerCase}Mapper.updateByExampleSelective(query,${table.entityNameFirstLowerCase}Example);
        return new BaseResponse.Builder().buildSuccess();
    }

    /**
    * 组装新增实体
    * @param query
    * @param request
    * @return
    */
    private ${table.entityName} assQueryForInsert(${table.entityName}Query query, HttpServletRequest request) {
        User operator = securityClient.getUserInfo(request);
        query.setGmtCreated(new Date());
        query.setCreator(operator.getUsername());
        query.setCreatorCode(operator.getUserId());
        //TODO
        //query.setPlatformId(operator.getPlatformId());
        //query.setAgentId(operator.getAgentId());
        //query.setGroupId(operator.getGroupId());
        //query.setSalesmanId(operator.getSalesmanId());
        return query;
    }

    /**
    * 组装更新状态实体
    * @param query
    * @param status
    * @param request
    * @return
    */
    private ${table.entityName} assQueryForUpdateStatus(${table.entityName}Query query, Integer status, HttpServletRequest request) {
        User operator = securityClient.getUserInfo(request);
        ${table.entityName}Query infoQuery = new ${table.entityName}Query();
        infoQuery.setId(query.getId());
        infoQuery.setStatus(status);
        infoQuery.setGmtModified(new Date());
        infoQuery.setModifier(operator.getUsername());
        infoQuery.setModifierCode(operator.getUserId());
        return infoQuery;
    }

    /**
    * 组装分页参数
    * @param query
    * @return
    */
    private ${table.entityName}Example assExampleForList(${table.entityName}Query query) {
        ${table.entityName}Example example = new ${table.entityName}Example();
        ${table.entityName}Example.Criteria criteria = example.createCriteria();
        if(StringUtil.isNotEmpty(query.getStartTime())){
            criteria.andGmtCreatedGreaterThanOrEqualTo(DateUtil.parse(query.getStartTime()));
        }
        if(StringUtil.isNotEmpty(query.getEndTime())){
            criteria.andGmtCreatedLessThanOrEqualTo(DateUtil.parse(query.getEndTime()));
        }
        //TODO
        //if(StringUtil.isNotEmpty(query.getTitle())){
        //    criteria.andTitleEqualTo(query.getTitle());
        //}
        if(null != query.getStatus()){
            criteria.andStatusEqualTo(query.getStatus());
        }
        return example;
    }

    /**
    * 组装模糊搜索Example
    * @param fuzzyText
    * @return
    */
    private ${table.entityName}Example assFuzzyExample(String fuzzyText) {
        ${table.entityName}Example example = new ${table.entityName}Example();
        ${table.entityName}Example.Criteria criteria = example.createCriteria();
        //TODO
        //criteria.andTitleLike("%" + fuzzyText + "%");
        return example;
    }
}