<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.buukle.consumer.cms.dao.UserAlbumMapper" >
  <resultMap id="BaseResultMap" type="top.buukle.consumer.cms.entity.UserAlbum" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="salesman_id" property="salesmanId" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="agent_id" property="agentId" jdbcType="VARCHAR" />
    <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
    <result column="album_name" property="albumName" jdbcType="VARCHAR" />
    <result column="album_desc" property="albumDesc" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_code" property="creatorCode" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifier_code" property="modifierCode" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bak01" property="bak01" jdbcType="VARCHAR" />
    <result column="bak02" property="bak02" jdbcType="VARCHAR" />
    <result column="bak03" property="bak03" jdbcType="VARCHAR" />
    <result column="bak04" property="bak04" jdbcType="VARCHAR" />
    <result column="bak05" property="bak05" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, salesman_id, group_id, agent_id, platform_id, album_name, album_desc, 
    creator, creator_code, gmt_created, modifier, modifier_code, gmt_modified, status, 
    bak01, bak02, bak03, bak04, bak05
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.buukle.consumer.cms.entity.UserAlbumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_album
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_album
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_album
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.buukle.consumer.cms.entity.UserAlbumExample" >
    delete from user_album
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.buukle.consumer.cms.entity.UserAlbum" >
    insert into user_album (id, user_id, salesman_id, 
      group_id, agent_id, platform_id, 
      album_name, album_desc, creator, 
      creator_code, gmt_created, modifier, 
      modifier_code, gmt_modified, status, 
      bak01, bak02, bak03, 
      bak04, bak05)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{salesmanId,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=VARCHAR}, #{agentId,jdbcType=VARCHAR}, #{platformId,jdbcType=VARCHAR}, 
      #{albumName,jdbcType=VARCHAR}, #{albumDesc,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorCode,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifierCode,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{bak01,jdbcType=VARCHAR}, #{bak02,jdbcType=VARCHAR}, #{bak03,jdbcType=VARCHAR}, 
      #{bak04,jdbcType=VARCHAR}, #{bak05,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.buukle.consumer.cms.entity.UserAlbum" >
    insert into user_album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="salesmanId != null" >
        salesman_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="albumName != null" >
        album_name,
      </if>
      <if test="albumDesc != null" >
        album_desc,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorCode != null" >
        creator_code,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifierCode != null" >
        modifier_code,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bak01 != null" >
        bak01,
      </if>
      <if test="bak02 != null" >
        bak02,
      </if>
      <if test="bak03 != null" >
        bak03,
      </if>
      <if test="bak04 != null" >
        bak04,
      </if>
      <if test="bak05 != null" >
        bak05,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="salesmanId != null" >
        #{salesmanId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="albumName != null" >
        #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="albumDesc != null" >
        #{albumDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorCode != null" >
        #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierCode != null" >
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bak01 != null" >
        #{bak01,jdbcType=VARCHAR},
      </if>
      <if test="bak02 != null" >
        #{bak02,jdbcType=VARCHAR},
      </if>
      <if test="bak03 != null" >
        #{bak03,jdbcType=VARCHAR},
      </if>
      <if test="bak04 != null" >
        #{bak04,jdbcType=VARCHAR},
      </if>
      <if test="bak05 != null" >
        #{bak05,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.buukle.consumer.cms.entity.UserAlbumExample" resultType="java.lang.Integer" >
    select count(*) from user_album
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_album
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.salesmanId != null" >
        salesman_id = #{record.salesmanId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.agentId != null" >
        agent_id = #{record.agentId,jdbcType=VARCHAR},
      </if>
      <if test="record.platformId != null" >
        platform_id = #{record.platformId,jdbcType=VARCHAR},
      </if>
      <if test="record.albumName != null" >
        album_name = #{record.albumName,jdbcType=VARCHAR},
      </if>
      <if test="record.albumDesc != null" >
        album_desc = #{record.albumDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorCode != null" >
        creator_code = #{record.creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifierCode != null" >
        modifier_code = #{record.modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.bak01 != null" >
        bak01 = #{record.bak01,jdbcType=VARCHAR},
      </if>
      <if test="record.bak02 != null" >
        bak02 = #{record.bak02,jdbcType=VARCHAR},
      </if>
      <if test="record.bak03 != null" >
        bak03 = #{record.bak03,jdbcType=VARCHAR},
      </if>
      <if test="record.bak04 != null" >
        bak04 = #{record.bak04,jdbcType=VARCHAR},
      </if>
      <if test="record.bak05 != null" >
        bak05 = #{record.bak05,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_album
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      salesman_id = #{record.salesmanId,jdbcType=VARCHAR},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      agent_id = #{record.agentId,jdbcType=VARCHAR},
      platform_id = #{record.platformId,jdbcType=VARCHAR},
      album_name = #{record.albumName,jdbcType=VARCHAR},
      album_desc = #{record.albumDesc,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      creator_code = #{record.creatorCode,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      modifier_code = #{record.modifierCode,jdbcType=VARCHAR},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      bak01 = #{record.bak01,jdbcType=VARCHAR},
      bak02 = #{record.bak02,jdbcType=VARCHAR},
      bak03 = #{record.bak03,jdbcType=VARCHAR},
      bak04 = #{record.bak04,jdbcType=VARCHAR},
      bak05 = #{record.bak05,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.buukle.consumer.cms.entity.UserAlbum" >
    update user_album
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="salesmanId != null" >
        salesman_id = #{salesmanId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="albumName != null" >
        album_name = #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="albumDesc != null" >
        album_desc = #{albumDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorCode != null" >
        creator_code = #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierCode != null" >
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="bak01 != null" >
        bak01 = #{bak01,jdbcType=VARCHAR},
      </if>
      <if test="bak02 != null" >
        bak02 = #{bak02,jdbcType=VARCHAR},
      </if>
      <if test="bak03 != null" >
        bak03 = #{bak03,jdbcType=VARCHAR},
      </if>
      <if test="bak04 != null" >
        bak04 = #{bak04,jdbcType=VARCHAR},
      </if>
      <if test="bak05 != null" >
        bak05 = #{bak05,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.buukle.consumer.cms.entity.UserAlbum" >
    update user_album
    set user_id = #{userId,jdbcType=INTEGER},
      salesman_id = #{salesmanId,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      agent_id = #{agentId,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=VARCHAR},
      album_name = #{albumName,jdbcType=VARCHAR},
      album_desc = #{albumDesc,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_code = #{creatorCode,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      bak01 = #{bak01,jdbcType=VARCHAR},
      bak02 = #{bak02,jdbcType=VARCHAR},
      bak03 = #{bak03,jdbcType=VARCHAR},
      bak04 = #{bak04,jdbcType=VARCHAR},
      bak05 = #{bak05,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>